<h1>投稿一覧</h1>

<%= link_to '新規投稿', new_list_path %>

<!-- @listsにコントローラで代入した内容がそのまま入っている -->
<% @lists.each do |list| %>

  <p>タイトル</p>
  <span><%= list.title %></span>

  <p>画像</p>
  <%= image_tag list.image, size: "200×200" %>

<%= link_to '詳細', list_path(list.id) %>

<% end %>
